$font-body: "Arial", sans-serif;
$container-width: 1060px;
$footer-height: 125px;

$red: #a4161c;
$orange: #fca211;
$grey: #747474;
$blue: #2b2f5f;
$black: #393939;

@import '_misc/mixins';
@import '_misc/fonts';
@import '_misc/normalize';
@import '_misc/adjustment';

@import 'plugins/font-awesome';
@import 'sections/header';
@import 'sections/navigation';
@import 'sections/usercontrols';
@import 'sections/slider';
@import 'sections/cupcake';
@import 'sections/features';
@import 'sections/products';
@import 'sections/team';
@import 'sections/orderNow';
@import 'sections/faq';
@import 'sections/map';
@import 'sections/footer';