.order-now {
	position: relative;
	width: 845px;
	margin: 0 auto;
	@include border-radius(20px);
	background: url('../img/others/form-bg.png') no-repeat center;
}

.order-now__inner {
	@extend %clearfix;
}

.order-now__left,
.order-now__right{
	float: left;
}

.order-now__left {
	width: 51%
}

.order-now__additional-info {
	padding: 110px 60px;
}

.order-now__caption {
	line-height: 1.2em;
	font-family: "Malina";
	font-size: 64px;
	color: white;
}

.order-now__right {
	width: 49%;
	@include border-radius(0 20px 20px 0);
	background-color: rgba(#1d1d20, 0.85);
}

.form-order {
	padding: 63px 80px 70px 45px
}

.form-order__row {
	margin-bottom: 25px;
	
	&:last-of-type {
		margin-bottom: 0;
	}
}

.form-order__input {
	width: 100%;
	
	padding: 17px 3px;
	
	color: white;
	outline: none;
	border: none;
	border: 1px solid transparent;
	border-bottom: 1px solid white;
	background-color: transparent;
	
	&:focus {
		border: 1px solid $grey;
		border-bottom: 1px solid white;
	}
}

.form-order__controls {
	padding-top: 15px;
	padding-left: 3px;
}

.form-order__control-label {
	cursor: pointer;
}

.form-order__checkbox {
	display: none;
}

.form-order__checkbox-styled {
	display: inline-block;
	position: relative;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	background-color: #f9f9f9;
	outline: 1px solid #2b1109;
	
	&::after {
		content: "";
		position: absolute;
		left: -9999px;
		display: block;
		width: 14px;
		height: 14px;
		background: url('../img/decor/tick.png') no-repeat top;
	}
}

.form-order__checkbox:checked + .form-order__checkbox-styled {
	&:after {
		left: 0;
		top: 50%;
		@include transform(translateY(-50%));
	}
}

.form-order__checbox-caption {
	color: white;
}

.btn-submit {
	position: absolute;
	bottom: -35px;
	right: -30px;
	
	width: 95px;
	height: 95px;
	border: none;
	outline: none;
	text-indent: -9999px;
	cursor: pointer;
	@include border-radius(50%);
	background: $orange url('../img/decor/arrow_submit_right.png') no-repeat center;
	
	&:hover,
	&:focus {
		background: #641a00 url('../img/decor/arrow_submit_right_hover.png') no-repeat center;
	}
}