.team {
	padding-top: 85px;
	padding-bottom: 115px;
	background: 
		radial-gradient(at 45% 60%, #fbf9f9 40%, #cac8c8) no-repeat,
}

.team__wrap {
}

.team-header {
	margin-bottom: 70px;
	@extend %clearfix;
}

.team-header__left,
.team-header__right{
	float: left;
}

.team-header__left {
	width: 350px;
}

.team-header__right {
	width: 710px;
}

.section-title_team {
	color: $blue;
}

.team-list-tabs {
	font-size: 0;
	
	* {
		font-size: 16px;
	}
}

.team-list-tabs__item {
	display: inline-block;
	width: 230px;
	margin-right: 10px;
	vertical-align: top;
	
	&:nth-child(3n){
		margin-right: 0;
	}
	
	&_active .team-tab, 
	&:hover .team-tab{
		background-color: #893213;
		@include border-radius(20px);

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 100%;
			left: 50%;
			width: 0px;
			height: 0px;

			@include transform(translateX(-50%));
			border-top: #893213 solid 10px;
			border-left: transparent solid 20px;
			border-right: transparent solid 20px;
		}
		
		.team-tab__name {
			color: $orange;
		}
		
		.team-tab__occupation {
			color: white;
		}
	}
}

.team-tab__name {
	display: block;
	margin-bottom: 5px;
	line-height: 1.2em;
	font-family: "Malina";
	font-size: 30px;
	
	color: $blue;
}

.team-tab__occupation {
	color: #8d8d8d
}

.team-tab {
	position: relative;
	display: block;
	padding: 15px 25px 25px 25px;
	text-decoration: none;
}

.team-content__item {
	display: none;
	
	&_active {
		display: block;
	}
}

.team-block {
	padding-top: 30px;
	min-height: 600px;
	@extend %clearfix;
	background: 
		url('../img/others/tony_royaster.png') no-repeat 40% bottom,
		url('../img/decor/quote.png') no-repeat 35% top;
}

.team-block__left {
	float: left;
	width: 275px;
}

.team-block__right {
	float: right;
	width: 350px;
}

.team-block__info {
	p {
		font-size: 14px;
		font-style: italic;
		margin-bottom: 20px;
		line-height: 1.6em;
	}
	
	b {
		font-weight: bold;
		font-style: italic;
		color: #484848;
	}
}